@if (User.Identity?.IsAuthenticated ?? false)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> @User.Identity.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profile</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="Tags" asp-action="Index">Manage Tags</a></li>
                <li><a class="dropdown-item" asp-controller="Statuses" asp-action="Index">Manage Statuses</a></li>
            }
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
